/* hyperspeed */
.hyperspeed-div {
  width: 80px;
  height: 98px;
  font-size: 8px;
  padding: 5px;
}

.hyperspeed-button {
  background-color: #c10000;
  color: white;
  font-size: 8px;
  width: 64px;
  padding: 5px;
  margin: 13px 20px 0 10px;
}
/* percolator */
.percolator-div {
  width: 89px;
  height: 92px;
  font-size: 8px;
  padding: 8px;
  border-left: 0;
}

.percolator-div span {
  padding: 2px;
  font-size: 9px;
}

#percolator {
  padding: 11px;
  margin-left: 13px;
  margin-top: 15px;
  width: 62px;
  height: 54px;
  background-color: #c10000;
  color: white;
}

.on {
  background-color: #5a2317!important;
}
/* find */
.find-div {
  width: 86px;
  height: 132px;
  font-size: 8px;
  padding: 9px;
  border-bottom: 0;
}

.find-div span {
  font-size: 9px;
  margin-left: 24px;
}

.find-button {
  background-color: #c10000;
  color: white;
  font-size: 8px;
  width: 64px;
  height: 27px;
  padding: 4px;
  margin: 13px 20px 0 10px;
}
/* oven */
#oven {
  padding: 4px;
  font-size: 9px;
  margin-left: 26px;
  margin-top: 6px;
  width: 100px;
  height: 27px;
  background-color: #c10000;
  color: white;
}

.oven-div {
  width: 148px;
  height: 51px;
  padding: 6px;
  border-left: 0;
  border-right: 0;
}

.oven-div span {
  font-size: 11px;
  margin-left: 52px;
  width: auto;
}
/* dial */
.dial-div {
  width: 196px;
  margin-top: -107px;
  height: 209px;
  border-top: 0;
}
/* gorgonzola */
.gorgonzola-div {
  width: 138px;
  height: 222px;
  font-size: 8px;
  padding: 9px;
  margin-top: -139px;
  margin-left: -1px;
  border-right: 0;
}

.gorgonzola-div span {
  font-size: 9px;
  margin-left: 26px;
}

.gorgonzola-button {
  background-color: #c10000;
  color: white;
  font-size: 8px;
  width: 112px;
  height: 27px;
  padding: 4px;
  margin: 13px 20px 0 10px;
}

.letme-div {
  width: 92px;
  margin-top: -66px;
  margin-left: 0px;
  height: 51px;
  padding: 6px;
}

.letme-div span {
  font-size: 10px;
  margin-left: 14px;
  width: auto;
}

#letme {
  padding: 4px;
  font-size: 9px;
  margin-left: 5px;
  margin-top: 6px;
  width: 81px;
  height: 27px;
  background-color: #c10000;
  color: white;
}

.zaboom-div {
  width: 160px;
  height: 150px;
  margin-top: -152px;
  margin-left: -240px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid black;
}
.zaboom-div span {
  margin-left: 5px;
  font-size: 9px;
}

.button-holder {
  margin-left: 9px;
  margin-top: 17px;
}

.zaboom-button {
  background-color: #c10000;
  color: white;
  font-size: 8px;
  width: 31px;
  height: 27px;
  margin: 3px;
}
