#hyperspeed {
  width: 80px;
  height: 98px;
  font-size: 8px;
  padding: 5px;
  background-color: #a7a7a7;
}

.hyperspeed-button {
  background-color: #c10000;
  color: white;
  font-size: 8px;
  width: 64px;
  padding: 5px;
  margin: 13px 20px 0 10px;
}
