/* dial */
.nightmaregauge-div {
  width: 196px;
  margin-top: -107px;
  height: 209px;
  border-top: 0;
}

.nightmaregauge-div span {
  text-shadow: 1px 1px black;
  font-size: 9px;
  margin-left: 28px;
}

.dial-options {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.dial-div {
  margin-left: 43px;
  margin-top: -78px;
}

#dial {
  height: 121px;
  -webkit-user-drag: none;
  border-top-right-radius: 54%;
  border-bottom-left-radius: 54%;
  border-bottom-right-radius: 54%;
}

.one {
  font-size: 11px;
  color: black;
  margin-top: 100px;
  margin-left: 7px;
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 5px;
}

.opt-one {
  transform: rotate(-45deg);
  transition: 0.4s;
}

.two {
  margin-top: 42px;
  margin-left: -12px;
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 5px;
  font-size: 11px;
  color: black;
}

.opt-two {
  transform: rotate(-2deg);
  transition: 0.4s;
}

.three {

  margin-left: 33px;
  margin-top: 23px;
  margin-right: 5px;
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 5px;
  font-size: 11px;
  color: black;
}

.opt-three {
  transform: rotate(40deg);
  transition: 0.4s;
}

.four {
  margin-top: 41px;
  margin-left: 25px;
  margin-right: -20px;
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 5px;
  font-size: 11px;
  color: black;
}

.opt-four {
  transform: rotate(83deg);
  transition: 0.4s;
}

.five {
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 5px;
  font-size: 11px;
  color: black;
  margin-top: 96px;
  margin-left: 3px;
  margin-right: -2px;
}

.opt-five {
  transform: rotate(121deg);
  transition: 0.4s;
}
