/* dial */
.nightmaregauge-div {
  width: 196px;
  margin-top: -107px;
  height: 209px;
  border-top: 0;
}

.nightmaregauge-div span {
  font-size: 9px;
  margin-left: 28px;
}

.dial-options {
  display: flex;
  justify-content: space-around;
}

.dial-div {
  margin-left: 37px;
  margin-top: -59px;
}

.dial {
  height: 121px;
  -webkit-user-drag: none;
}

.one {
  width: 10px;
  font-size: 11px;
  color: black;
  margin-top: 100px;
  margin-left: 7px;
}

.two {
  width: 10px;
  font-size: 11px;
  color: black;
  margin-top: 42px;
  margin-left: -12px;
}

.three {
  width: 10px;
  font-size: 11px;
  color: black;
  margin-left: 33px;
  margin-top: 23px;
  margin-right: 5px;
}

.four {
  width: 10px;
  font-size: 11px;
  color: black;
  margin-top: 41px;
  margin-left: 25px;
  margin-right: -20px;
}

.five {
  width: 10px;
  font-size: 11px;
  color: black;
  margin-top: 96px;
  margin-left: 6px;
  margin-right: 10px;
}
