* {
  font-family: 'Press Start 2P', cursive;
  color: white;
  user-select: none;
}

body {
  background-image: url('http://sci.esa.int/science-e-media/img/7e/heic0607a.jpg');
  height: 100%;
  overflow-y: hidden;
}

#all-content {
  display: flex;
}

h1 {
  margin-left: 20px;
  text-shadow: 1px 1px 2px black;
}

.counters {
  display: list-item;
  text-align: center;
  margin-top: 28%;
}

.counter {
  padding: 10px;
  border: 1px solid white;
  background-color: #474d65;
  margin-left: 50px;
  margin-bottom: 50px;
}

.main-frame {
  height: 500px;
  width: 700px;
  margin: 8% auto;
}

.alert-view {
  height: 75px;
  width: 700px;
  background-color: black;
}

#alert-view-text {
  padding: 30px;
  text-align: center;
  color: white;
}

.losing {
  background-color: #ff4c4c!important;
}

.control-grid {
  display: flex;
  flex-wrap: wrap;
  height: 320px;
  width: 700px;
}

.control {
  background-color: #a7a7a7;
  border: 1px solid black;
}

.closed {
  display: none!important;
}

.contact {
  box-sizing: border-box;
  border: 1px solid white;
  padding: 10px;
  width: 285px;
  left: 63px;
  top: calc(100% - 238px);
  font-size: 10px;
  position: absolute;
  text-align: center;
  background-color: #474d65;
}

.icons {
  display: flex;
  padding: 18px;
  justify-content: space-evenly;
  cursor: pointer;
}

#try-again {
  cursor: pointer;
}

.head-section {
  display: flex;
  justify-content: space-between;
}

.mute-button {
  width: 29px;
  height: 29px;
  padding: 10px;
  margin-top: 17px;
  margin-right: 16px;
  background-color: white;
  border-radius: 50%;
}

.muted {
  background-color: #abd1db!important;
}
