* {
  font-family: 'Press Start 2P', cursive;
  color: white;
}

body {
  background-image: url('http://sci.esa.int/science-e-media/img/7e/heic0607a.jpg');
}

.all-content {
  display: flex;
}

h1 {
  margin-left: 20px;
  text-shadow: 1px 1px 2px black;
}

.counters {
  display: list-item;
  text-align: center;
}

.counter {
  padding: 10px;
  border: 1px solid white;
  background-color: #474d65;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-top: 51px;
}

.main-frame {
  border: 1px solid black;
  height: 500px;
  width: 700px;
  margin: 50px auto;
}

#spaceship-canvas {
  border: 1px solid blue;
  background-color: lightgrey;
}
.alert-view {
  height: 75px;
  width: 700px;
  background-color: black;
}

#alert-view-text {
  padding: 30px;
  text-align: center;
  color: white;
}

.losing {
  background-color: #ff4c4c!important;
}
