.kazoomosphere-div {
  font-size: 9px;
  width: 146px;
  height: 64px;
  padding: 5px;
  padding-top: 8px;
  border: 0;
  border-top: 1px solid black;
}

.kazoomosphere-div span {
  text-shadow: 1px 1px black;
  margin-left: 12px;
}

#kazoomosphere {
  margin-top: 1px;
  margin-left: 7px;
  border-radius: 5px;
  -webkit-appearance: none;
}

.kazoom-slider::-webkit-slider-runnable-track {
  width: 300px;
  height: 7px;
  background: #f9fbff;
  border: none;
  border-radius: 5px;
}

.kazoom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid white;
  height: 15px;
  width: 15px;
  margin-top: -5px;
  border-radius: 50%;
  background-color: #c10000;
  cursor: pointer;
}

.num-options {
  list-style: none;
  display: flex;
  padding: 0px;
  justify-content: space-around;
  margin-top: 13px;
  margin-left: -15px;
  margin-right: -10px;
}

.num-options li {
  color: black;
}

#stress {
  border-radius: 5px;
  transform: rotate(90deg);
  -webkit-appearance: none;
  margin-top: 79px;
  margin-bottom: 135px;
  margin-left: -45px;
  margin-top: 81px;
}

.stress-slider::-webkit-slider-runnable-track {
  box-sizing: border-box;
  width: 400px;
  height: 7px;
  background: #f9fbff;
  top: 0;
  border: none;
  border-radius: 5px;
}

.stress-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid white;
  height: 15px;
  width: 15px;
  margin-top: -5px;
  border-radius: 50%;
  background-color: #c10000!important;
  cursor: pointer;
}

.stress-div {
  font-size: 9px;
  width: 62px;
  height: 198px;
  padding: 8px;
}

.stress-div span {
  text-shadow: 1px 1px black;
}

.stuff {
  display: flex;
}

.num-options-stress {
  font-size: 10px;
  display: list-item;
  list-style: none;
  padding: 0px;
  margin-left: 10px;
}

.stressli {
  margin-top: 13px;
  color: black;
}

.cosmicslop-div {
  font-size: 9px;
  padding: 5px;
  padding-top: 8px;
  width: 334px;
  height: 90px;
  margin-top: -1px;
  border-top: 0;
  margin-left: -106px;
}

.cosmicslop-div span {
  text-shadow: 1px 1px black;
  margin-left: 108px;
}

.num-options-cosmic {
  list-style: none;
  display: flex;
  margin-left: -45px;
  margin-top: 18px;
}

.num-options-cosmic li {
  color: black;
  text-align: center;
}

.cosmic-1 {
  margin-left: 16px;
}

.cosmic-2 {
  margin-left: 24px;
}

#cosmicslop {
  margin-top: 5px;
  margin-left: 18px;
  width: 300px;
  border-radius: 5px;
  -webkit-appearance: none;
}

.cosmicslop-slider::-webkit-slider-runnable-track {
  width: 500px;
  height: 7px;
  background: #f9fbff;
  border: none;
  border-radius: 5px;
}

.cosmicslop-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid white;
  height: 15px;
  width: 15px;
  margin-top: -5px;
  border-radius: 50%;
  background-color: #c10000;
  cursor: pointer;
}
